// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: #6d5dfc;
$secondary: #808080;
$accent: #2563eb;

$dark: #1a1a1a;
$dark-page: #0d0d0d;

$positive: #22c55e;
$negative: #e06050;
$info: #6d5dfc;
$warning: #eab308;
